.div {
    min-width: 380px;
    max-width: 380px;
    color:white;
    font-size: xx-large;
    border: 2px solid gray;
    margin: 2%;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--color-items-containers);
}

.img{
    width: 100%; 
    height: auto; 
}

.h1 {
    margin-bottom: 10px;
    margin-top: 0; 
}